.yellowButton {
    background-color: #aadd77;
    border: none;
    font-size: 100%;
    padding: 5px 15px 5px;

    cursor: pointer;
}

.yellowButton:hover {
    background-color: #7dad4eb6;
}

.yellowButton:active {
    background-color: #568923;
}