.container {
    height: auto;
    width: 90%;
    
    /* border: 1px solid; */
    position: relative;
}


.row_1 {
    display: flex;
    margin-bottom: 20px;
}

.row_2 {
    /* border: 1px solid; */
    margin-bottom: 20px;
}

.infoCol {
    margin-left: 30px;
}

.personalInfo {
    margin-bottom: 15px;
    /* border: 1px solid; */
}

.fullName {
    font-size: 21pt;
    font-weight: bold;
}

.aboutMe {

}

.description {
    margin-bottom: 15px;
}

.contactsCol {
    display: flex;
    flex-direction: column;

}