.container {
    max-width: max-content;
    min-width: 200px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.formContainer {
    width: 90%;
    margin: 0 auto;
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px 0 25px;
}

.LoginBtn {
    margin-top: 15px;
}

.errorFromServer {
    color: whitesmoke;
    background-color: rgb(255, 75, 75);
    display: inline-block;
    text-align: center;

    width: 100%;
    line-height: 2.5em;
}