.dialogItem {
    font-size: 14pt;
    border-bottom: 1px solid black;
    padding: 10px;
}

.dialogItem a {
    text-decoration: none;
    color: darkslategrey;
}

.dialogItem a.active {
    background-color: chocolate;
}