.container {
    width: 100%;
    padding-bottom: 20px;
    background-color: ghostwhite;
    border-radius: 12px;
    border: 1px solid #dce1e6;
    box-shadow: 3px 3px 10px 0px grey;
}

.fieldset {
    border: none;
    width: 100%;
    padding: 0;
}